:root {
    --olive: #5f6d4d;
    --olive-dark: #3f4934;
    --sand: #e6dfd1;
    --stone: #bfb7a8;
    --bronze: #a07b52;
    --charcoal: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Marcellus", sans-serif;
    background-color: var(--charcoal);
    color: white;
}

.hero {
    position: relative;
    min-height: 100vh;
    background:
    linear-gradient(rgba(15, 15, 15, .45),
            rgba(15, 15, 15, .8)),
    url("../images/steak.jpg");
    background-size: cover;
    background-position: center;
}

    .hero-content>* {
        opacity: 0;
        transform: translateY(40px) scale(0.95);
        animation: popUp 0.8s ease forwards;
    }

    .hero-content .small-title {
        animation-delay: 0.2s;
    }

    .hero-content h1 {
        animation-delay: 0.4s;
    }

    .hero-content .line {
        animation-delay: 0.6s;
    }

    .hero-content .subtitle {
        animation-delay: 0.8s;
    }

    .hero-content .hero-buttons {
        animation-delay: 1s;
    }

    @keyframes popUp {
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

.top-bar {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    
        background: transparent;
        color: white;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 15px 30px;
        z-index: 1000;
}

.top-left {
    display: flex;
        align-items: center;
        gap: 10px;
    
        margin-left: 15%;
}

.top-bar a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--bronze);
}

.nav-links:hover {
    color: var(--bronze);
}

.hero-content {
    min-height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.small-title {
    color: var(--bronze);
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero h1 {
    font-family: "Marcellus", serif;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.line {
    width: 190px;
    height: 5px;
    background-color: white;
    margin-bottom: 28px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 18px;
}

.btn {
    padding: 15px 28px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background-color: var(--olive-dark);
    color: white;
    border: 2px solid var(--olive-dark);
}

.primary:hover {
    background-color: #145c43;
}

.secondary {
    color: white;
    border: 2px solid white;
}

.secondary:hover {
    background-color: white;
    color: black;
}

.section {
    padding: 90px 20px;
    text-align: center;
}

.section h2 {
    font-family: "Marcellus", serif;
    font-size: 44px;
    margin-bottom: 35px;
    color: var(--bronze);
}

.story-section {
    background-color: #f7f4ee;
    color: #111;
    padding: 100px 7%;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 70px;
    align-items: center;
}

.story-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow:
            0 15px 30px rgba(0, 0, 0, .15);
}

.story-gallery img:hover {
    transform: scale(1.03);
}


.story-gallery img:hover {
    transform: scale(1.04);
    filter: brightness(0.8);
}

.story-content {
    max-width: 650px;
}

.story-content > * {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
    animation: popUp 0.8s ease forwards;
}

.story-content .section-label {
     animation-delay: 0.2s;
}

.story-content .story-desc {
     animation-delay: 0.4s;
}

.story-content .green-line {
     animation-delay: 0.6s;
}

.story-content .story-text {
     animation-delay: 0.8s;
}


.section-label {
    color: var(--olive-dark);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}

.story-content h2 {
    font-family: "Marcellus", serif;
    font-size: 48px;
    line-height: 1.1;
    color: var(--olive-dark);
    margin-bottom: 25px;
}

.green-line {
    width: 130px;
    height: 5px;
    background-color: var(--olive-dark);
    margin-bottom: 30px;
}

.story-content p {
    font-size: 19px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 18px;
}

.happy-hour-section {
    background: var(--charcoal);
    color: var(--bronze);
    max-width: 700px;
    margin: 80px auto;
    padding: 45px;
}

.happy-hour-header {
    text-align: center;
    margin-bottom: 50px;
}

.happy-hour-header h2 {
    font-size: 58px;
    color: #5f6d4d;
    margin-bottom: 10px;
}

.happy-hour-header p {
    color: #a07b52;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.happy-category {
    margin-bottom: 50px;
}

.happy-category h3 {
    color: #5f6d4d;
    font-size: 32px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(160, 123, 82, .3);
    padding-bottom: 10px;
}

.happy-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}

.happy-item span:last-child {
    color: #a07b52;
}

.happy-category p {
    margin-top: 6px;
    margin-bottom: 12px;

    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

@media (max-width: 768px) {

    .happy-hour-section {
        padding: 30px 20px;
        margin: 60px 20px;
    }

    .happy-hour-header h2 {
        font-size: 42px;
    }

    .happy-item {
        font-size: 18px;
    }

    .happy-category h3 {
        font-size: 26px;
    }
}


.photo-slider {
    width: 100%;
        overflow: hidden;
        background-color: #f7f4ee;
        padding: 50px 0;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: slideGallery 35s linear infinite;
}

.slider-track img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 22px;
    border-radius: 18px;
    filter: brightness(0.85);
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow:
            0 15px 30px rgba(0, 0, 0, .15);
}

.slider-track img:hover {
    transform: scale(1.05);
    filter: brightness(1);
}

@keyframes slideGallery {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .slider-track img {
        width: 260px;
        height: 190px;
    }
}

@media (max-width: 900px) {
    .story-section {
        grid-template-columns: 1fr;
        padding: 70px 25px;
    }

    .story-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .story-content h2 {
        font-size: 36px;
    }
}


.menu-section {
    background-color: #f7f4ee;
    color: #111;
    padding: 90px 7%;
    text-align: center;
}

.menu-small-title {
    color: var(--olive-dark);
    font-family: Georgia, serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.menu-section h2 {
    font-family: "Marcellus", serif;
    font-size: 52px;
    color: var(--olive-dark);
    margin-bottom: 20px;
}

.menu-line {
    width: 160px;
    height: 4px;
    background-color: var(--olive-dark);
    margin: 0 auto 30px;
}

.menu-intro {
    max-width: 950px;
    margin: 0 auto 55px;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.tab-btn {
    background: none;
    border: none;
    color: var(--olive-dark);
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 10px;
}

.tab-btn.active {
    border-bottom: 2px solid var(--olive-dark);
}

.menu-items {
    display: none;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid rgba(160, 123, 82, .3);
}

.menu-items.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 70px;
}

.steaks-descr {
    text-align: center;
    max-width: 850px;
        margin: 0 auto 50px;
        font-size: 20px;
        line-height: 1.4;
        color: #111;
}

.menu-item {
    border-bottom: 1px dotted #777;
    padding-bottom: 28px;
}

.menu-item h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;

    color: var(--olive-dark);
    font-size: 24px;
    margin-bottom: 12px;
}

.menu-item span {
    color: var(--bronze);
    font-weight: bold;
    white-space: nowrap;
}

.menu-item p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .menu-section h2 {
        font-size: 38px;
    }

    .menu-items {
        grid-template-columns: 1fr;
    }

    .tab-btn {
        font-size: 20px;
    }
}

.location-section {
    background:white;
    color: black;
    padding: 90px 7%;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 50px;
    align-items: center;
}

.location-content h2 {
    font-family: "Marcellus", serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.location-content p {
    font-size: 20px;
    margin-bottom: 12px;
}

.map-box {
    width: 100%;
    height: 450px;
    border-radius: 18px;
    overflow: hidden;
}

.map-box iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .location-section {
        grid-template-columns: 1fr;
    }

    .map-box {
        height: 350px;
    }
}
.contact-section {
    background-color: var(--charcoal);
}

.reservation-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.75)),
        url("../images/olives.jpg");

    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}

.reservation-section h2 {
    color: var(--sand);
}

.reservation-form {
    width: 100%;
    max-width: 700px;
    margin: 40px auto 0;
    padding: 40px;

    background: white;
    border-radius: 28px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.18);

    display: grid;
    gap: 18px;
}

.reservation-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: var(--olive-dark);
}

.reservation-form input,
.reservation-form textarea,
.reservation-form select {
    width: 100%;
    min-height: 58px;

    padding: 16px 20px;

    border: 1px solid #ddd;
    border-radius: 16px;

    background-color: white;
    color: #333;

    font-family: Arial, sans-serif;
    font-size: 16px;

    outline: none;
    appearance: none;
    -webkit-appearance: none;

    transition: all 0.3s ease;
}

.reservation-form input::placeholder,
.reservation-form textarea::placeholder {
    color: #888;
}

.reservation-form input:focus,
.reservation-form textarea:focus,
.reservation-form select:focus {
    border-color: var(--olive-dark);
    box-shadow: 0 0 0 4px rgba(15, 61, 46, 0.12);
}

.reservation-form select {
    cursor: pointer;
}

.reservation-form textarea {
    min-height: 130px;
    resize: vertical;
}

.form-button {
    width: fit-content;
    justify-self: center;

    padding: 14px 36px;

    border: none;
    border-radius: 14px;

    background: var(--olive-dark);
    color: white;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    transition: all 0.3s ease;
}

.form-button:hover {
    background: #1b6b51;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .reservation-section {
        padding: 80px 16px;
    }

    .reservation-form {
        max-width: 430px;
        padding: 28px 22px;
        border-radius: 24px;
    }

    .reservation-row {
        grid-template-columns: 1fr;
    }

    .reservation-form input,
    .reservation-form textarea,
    .reservation-form select {
        min-height: 56px;
        font-size: 15px;
        border-radius: 15px;
    }

    .form-button {
        width: 100%;
        max-width: 230px;
    }
}

.form-button {
    width: fit-content;
        padding: 14px 32px;
        border: none;
        border-radius: 12px;
        background: var(--olive-dark);
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
}

.form-button:hover {
    background: #1b6b51;
    transform: translateY(-2px);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 35px;
}

.social-links a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--olive-dark);
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background: var(--olive-dark);
    color: white;
    transform: translateY(-5px);
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        gap: 25px;
        padding: 25px 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .hero h1 {
        font-size: 45px;
    }

    .menu-grid {
        grid-template-columns: 1fr;
    }
}


/* ==========================
   TABLETS
========================== */

@media (max-width: 1024px) {

    .hero h1 {
        font-size: 56px;
    }

    .story-section,
    .location-section {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .story-content {
        max-width: 100%;
        text-align: center;
    }

    .green-line {
        margin: 0 auto 30px;
    }

    .menu-items {
        grid-template-columns: 1fr;
    }

    .location-content {
        text-align: center;
    }
}


/* ==========================
   PHONES
========================== */

@media (max-width: 768px) {

    /* Top Address Bar */

    .top-bar {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        text-align: center;
    }

    .top-left {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }

    .top-right {
        font-size: 14px;
    }

    /* Hero */

    .hero {
        min-height: 90vh;
    }

    .hero-content {
        padding: 120px 20px 40px;
    }

    .hero h1 {
        font-size: 42px;
        line-height: 1.1;
    }

    .small-title {
        font-size: 16px;
    }

    .subtitle {
        font-size: 18px;
        max-width: 90%;
    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
        max-width: 280px;
    }

    .btn {
        text-align: center;
    }

    /* Story Section */

    .story-section {
        padding: 70px 20px;
    }

    .story-gallery {
        grid-template-columns: 1fr;
    }

    .story-gallery img {
        height: 450px;
    }

    .story-content h2 {
        font-size: 34px;
    }

    .story-content p {
        font-size: 17px;
    }

    /* Slider */

    .slider-track img {
        width: 300px;
        height: 220px;
    }

    /* Menu */

    .menu-section {
        padding: 70px 20px;
    }

    .menu-section h2 {
        font-size: 38px;
    }

    .menu-intro {
        font-size: 17px;
    }

    .menu-tabs {
        gap: 15px;
    }

    .tab-btn {
        font-size: 18px;
    }

    .menu-item h3 {
        flex-direction: column;
        gap: 5px;
        font-size: 20px;
    }

    .menu-item span {
        font-size: 18px;
    }

    /* Map */

    .location-content h2 {
        font-size: 36px;
    }

    .location-content p {
        font-size: 18px;
    }

    .map-box {
        height: 300px;
    }

    /* Reservation Form */

    .reservation-form {
        padding: 25px;
    }
    
    .form-button {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
    }

    /* Contact Icons */

    .social-links {
        gap: 12px;
    }

    .social-links a {
        width: 52px;
        height: 52px;
        font-size: 20px;
    }
}


/* ==========================
   SMALL PHONES
========================== */

@media (max-width: 480px) {

    .hero h1 {
        font-size: 34px;
    }

    .story-content h2,
    .menu-section h2,
    .location-content h2 {
        font-size: 30px;
    }

    .slider-track img {
        width: 250px;
        height: 180px;
    }

    .story-gallery img {
        height: 220px;
    }

    .top-left {
        font-size: 12px;
    }

    .top-right {
        font-size: 12px;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(50px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.story-content,
.location-content,
.reservation-form {
    position: relative;
    padding: 50px;
}

.story-content::before,
.location-content::before,
.reservation-form::before {
    content: "";
    position: absolute;
    inset: 0;

    border: 1px solid rgba(160, 123, 82, .4);
}

.story-content::after,
.location-content::after,
.reservation-form::after {
    content: "";
    position: absolute;
    inset: 12px;

    border: 1px solid rgba(160, 123, 82, .2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    animation: zoomIn 0.3s ease;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        transform: scale(.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

